<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>[AutoProctor] Test Created</title>
</head>
<body>
    <p>Hi there,</p>
    <p>
        Congratulations!, You have created a test on AutoProctor Socratease. The test url is <a href="<%= Url %>">
            <%= Url %>
        </a>. Share this URL with the users(students) who should take this test.
    </p>
    <p>Once the first user submits the test, we will send you another email with a link to the report.</p>
<p> 
    With Regards AutoProctor
</p>
</body>
</html>